.flex {
  display: flex;
}

.justify-content {
  &--center {
    justify-content: center;
  }
}

.align-items {
  &--center {
    align-items: center;
  }
}

.centralized-flex {
  @extend .flex;
  @extend .justify-content--center;
  @extend .align-items--center;
}
